<!DOCTYPE html>
<html lang="en">
<head>

<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">

</head>
<body>
<header>
  <h2>Categories</h2>
<style>
* {
  box-sizing: border-box;
}

/* UL search bar styles*/
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}
</style>

</header>

<nav>

<div id="navbar">
        <a href="Home.html">Home</a>
        <a class="active" href="categories.html">Categories</a>
        <a href="giftCard.html">Gift Cards</a>
        <a href="career.html">Career</a>
        <a href="aboutUs.html">About Us</a>
        <a href="cart.html">Cart</a>
        <a href="signup.html">Sign Up</a>
        <a href="signin.html">Sign In</a>
    </div>

</nav>

<article>

<h2>Search for Product</h2>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<ul id="myUL">
  <li><a href="http://localhost:63342/compe561_website/categories.html#Dark-Orb">Dark Orb</a></li>
  <li><a href="http://localhost:63342/compe561_website/categories.html#Galaxy-Tea-Set">Galaxy Tea Set</a></li>
  <li><a href="http://localhost:63342/compe561_website/categories.html#Wooden-Controller">Gaming</a></li>
  <li><a href="http://localhost:63342/compe561_website/categories.html#glaives">Glaives</a></li>
  <li><a href="http://localhost:63342/compe561_website/categories.html#Galaxy-Tea-Set">Kitchen Ware</a></li>
  <li><a href="http://localhost:63342/compe561_website/categories.html#Magic-Lamp">Magic Lamp</a></li>
  <li><a href="http://localhost:63342/compe561_website/categories.html#Magic-Lamp">Prop Magic</a></li>
  <li><a href="http://localhost:63342/compe561_website/categories.html#glaives">Prop Weapon</a></li>
  <li><a href="http://localhost:63342/compe561_website/categories.html#Wooden-Controller">Wooden Controller</a></li>
</ul>

<script>

/* filter/search function */
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}

/* sticky navigation bar function */
window.onscroll = function() {myStickyFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myStickyFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>
<form class="row g-3">
    <h2> Products</h2>
</form>
<form class="row g-3">
    <div class="col-md-6">
      <!-- product with option for quantity and add to cart button -->
      <!--linking Dark Orb with an id Dark Orb to be search able in the search engine in the categories page-->
      <a id="Dark-Orb"><h3>Dark Orb</h3></a>
      <!--Image-->
          <img src="{{ url_for('static', filename='dark-orb.jpg') }}" alt="Dark Orb" width="396" height="256">
      <!--Price-->
      <div class="price">$45.99</div>
      <!--Quantity-->
      <div class="quantity">
          <span>quantity : </span>
          <label>
              <input type="number" name="quantity" min="1">
              <input type="submit" name="add2Cart"value="Add to Cart">
          </label>
      </div>
    </div>

     <!--linking Galaxy Tea Set with an id Galaxy Tea Set to be search able in the search engine in the categories page-->
    <div class="col-md-6">
     <a id="Galaxy-Tea-Set"><h3>Galaxy Tea Set</h3></a>
      <!--Image-->
          <img src="{{ url_for('static', filename='galaxy-tea-set.jpg') }}" alt="Galaxy-Tea-Set" width="396" height="256">
      <!--Price-->
      <div class="price">$72.00</div>
      <!--Quantity-->
      <div class="quantity">
          <span>quantity : </span>
          <label>
              <input type="number" name="quantity" min="1">
              <input type="submit" name="add2Cart"value="Add to Cart">
          </label>
      </div>
    </div>

     <!--linking Glaives with an id Glaives to be search able in the search engine in the categories page-->
    <div class="col-md-6">
     <a id="glaives"><h3>Glaives</h3></a>
      <!--Image-->
          <img src="{{ url_for('static', filename='glaives.jpg') }}" alt="glaives" width="396" height="256">
      <!--Price-->
      <div class="price">$149.95</div>
      <!--Quantity-->
      <div class="quantity">
          <span>quantity : </span>
          <label>
              <input type="number" name="quantity" min="1">
              <input type="submit" name="add2Cart"value="Add to Cart">
          </label>
      </div>
    </div>

     <!--linking magic lamp with an id magic lamp to be search able in the search engine in the categories page-->
    <div class="col-md-6">
     <a id="Magic-Lamp"><h3>Magic Lamp</h3></a>
      <!--Image-->
          <img src="{{ url_for('static', filename='magicLamp.jpg') }}" alt="Magic-Lamp" width="396" height="256">
      <!--Price-->
      <div class="price">$40,000.00</div>
      <!--Quantity-->
      <div class="quantity">
          <span>quantity : </span>
          <label>
              <input type="number" name="quantity" min="1">
              <input type="submit" name="add2Cart"value="Add to Cart">
          </label>
      </div>
    </div>

     <!--linking wooden controller with an id wooden controller to be search able in the search engine in the categories page-->
    <div class="col-md-6">
     <a id="Wooden-Controller"><h3>Wooden Controller</h3></a>
      <!--Image-->
          <img src="{{ url_for('static', filename='wooden-controller.jpg') }}" alt="Wooden-Controller" width="396" height="256">
      <!--Price-->
      <div class="price">$5</div>
      <!--Quantity-->
      <div class="quantity">
          <span>quantity : </span>
          <label>
              <input type="number" name="quantity" min="1">
              <input type="submit" name="add2Cart"value="Add to Cart">
          </label>
      </div>
    </div>
</form>
  </article>

<footer>
  <p>Footer</p>
  <p>Thieves caught will be punished by coding the backend of this site</p>
</footer>

</body>
</html>
